body {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.header {
  position: fixed;
  top: 0;
  background: linear-gradient(to right, #ff0000, #ffff00, #008000);
  font-size: 300px;
}
